<div class="chat-header">
  <div class="group-name">
    hogefuga
  </div>
  <div class="header-btn">
    <a href="#" class="chat-end-btn">
      チャットを終了する
    </a>
  </div>
</div>
<div class="chat-main">
  <div class="chat-box">
    <div class="chat-box-namedate">
      <div class="chat-name">
        Tom
      </div>
      <div class="chat-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="chat-text">
       おはよう
    </div>
  </div>
</div>
<div class="post">
  <div class="form-input">
    <input type="text" placeholder="type a message" class="form-text">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="submit-btn">
</div>