<div class="side-bar-header">
  <a href="#" class="user-name">
    Tom
  </a>
  <a href="#" class="chat-create-btn">
    チャットを作成する
  </a>
</div>
<div class="side-bar-user">
  <div class="side-bar-chatroom">
    <a href="#" class="chatroom-name">
      techroom1
    </a>
  </div>
</div>